<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" requirePermission="false"/>
  </configSections>
  <!-- log4net configuration
       Outputs a log compatible with the Trace32 viewer.
       Using file format information from http://dx21.com/ezine/p2p/article.aspx?ID=32, with corrections.
  -->
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="DebugFileAppender" />
      <appender-ref ref="InfoFileAppender" />
      <appender-ref ref="WarnFileAppender" />
      <appender-ref ref="ErrorFileAppender" />
      <appender-ref ref="FatalFileAppender" />
    </root>

    <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${LOCALAPPDATA}\Illallangi Enterprises\DropBox Start Menu Linker.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&lt;![LOG[DEBUG: %message]LOG]!&gt;&lt;time=&quot;%date{HH:mm:ss.fff}+0&quot; date=&quot;%date{MM-dd-yyyy}&quot; component=&quot;%logger %level&quot; context=&quot;Context&quot; type=&quot;1&quot; thread=&quot;%thread&quot; file=&quot;%thread&quot;&gt;%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${LOCALAPPDATA}\Illallangi Enterprises\DropBox Start Menu Linker.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&lt;![LOG[%message]LOG]!&gt;&lt;time=&quot;%date{HH:mm:ss.fff}+0&quot; date=&quot;%date{MM-dd-yyyy}&quot; component=&quot;%logger %level&quot; context=&quot;Context&quot; type=&quot;1&quot; thread=&quot;%thread&quot; file=&quot;%thread&quot;&gt;%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <appender name="WarnFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${LOCALAPPDATA}\Illallangi Enterprises\DropBox Start Menu Linker.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&lt;![LOG[%message]LOG]!&gt;&lt;time=&quot;%date{HH:mm:ss.fff}+0&quot; date=&quot;%date{MM-dd-yyyy}&quot; component=&quot;%logger %level&quot; context=&quot;Context&quot; type=&quot;2&quot; thread=&quot;%thread&quot; file=&quot;%thread&quot;&gt;%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="WARN" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${LOCALAPPDATA}\Illallangi Enterprises\DropBox Start Menu Linker.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&lt;![LOG[%message]LOG]!&gt;&lt;time=&quot;%date{HH:mm:ss.fff}+0&quot; date=&quot;%date{MM-dd-yyyy}&quot; component=&quot;%logger %level&quot; context=&quot;Context&quot; type=&quot;3&quot; thread=&quot;%thread&quot; file=&quot;%thread&quot;&gt;%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <appender name="FatalFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${LOCALAPPDATA}\Illallangi Enterprises\DropBox Start Menu Linker.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&lt;![LOG[FATAL: %message]LOG]!&gt;&lt;time=&quot;%date{HH:mm:ss.fff}+0&quot; date=&quot;%date{MM-dd-yyyy}&quot; component=&quot;%logger %level&quot; context=&quot;Context&quot; type=&quot;3&quot; thread=&quot;%thread&quot; file=&quot;%thread&quot;&gt;%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="FATAL" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
  </log4net>
</configuration>